<a href="https://colab.research.google.com/github/pratik-poudel/financial_news_stock/blob/master/cleanup%20part%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [149]:
df= pd.read_excel('/content/2014-2019_v1.xlsx', sheet_name=None)

In [150]:
display(df['2014'], df['2015'], df['2016'])

                                                  title  ...          date
0              \nNew gadgets lined up for New Year 2014  ...   Jan 01 2014
1           \nChinese tourists take great leap forward   ...   Jan 01 2014
2     \nPokhara tourism expects 2014  to herald new ...  ...   Jan 01 2014
3          \nCAs, auditors condemn Agrawal duo's arrest  ...   Jan 01 2014
4                           \nDon’t count your chickens  ...   Jan 01 2014
...                                                 ...  ...           ...
1982               \nNepal, Oman to up flight frequency  ...   Dec 31 2014
1983            \nLet us select road contractors: Nepal  ...   Dec 31 2014
1984        \nBadi youths venture into madal production  ...   Dec 31 2014
1985  \nSupplies Minister tells NOC to address fuel ...  ...   Dec 31 2014
1986                  \nDDC hikes milk price by Rs 8-10  ...   Dec 31 2014

[1987 rows x 4 columns]

                                                  title  ...          date
0      After DDC, pvt dairies raise price by Rs 8 a ltr  ...   Jan 01 2015
1            Caan board okays plan to hire Icao experts  ...   Jan 01 2015
2             Investment booming in Pokhara hospitality  ...   Jan 01 2015
3             MoI plans to declare FY2015-16 ‘FDI Year’  ...   Jan 01 2015
4                   Ministry to amend working procedure  ...   Jan 01 2015
...                                                 ...  ...           ...
1884       Govt set to give leg up to footwear products  ...   Dec 31 2015
1885   Fraud case filed against four gas pumps in Kavre  ...   Dec 31 2015
1886            NAC to buy four new jets over two years  ...   Dec 31 2015
1887  Govt estimates 200MW can be added to grid this...  ...   Dec 31 2015
1888                      Birat Petroleum tanker seized  ...   Dec 31 2015

[1889 rows x 4 columns]

                                                  title  ... date
0     \n                                            ...  ...  NaN
1     \n                                            ...  ...  NaN
2     \n                                            ...  ...  NaN
3     \n                                            ...  ...  NaN
4     \n                                            ...  ...  NaN
...                                                 ...  ...  ...
1928  \n                                            ...  ...  NaN
1929  \n                                            ...  ...  NaN
1930  \n                                            ...  ...  NaN
1931  \n                                            ...  ...  NaN
1932  \n                                            ...  ...  NaN

[1933 rows x 4 columns]

In [151]:
import re
pattern = re.compile(
    "(Jan(uary)?|Feb(ruary)?|Mar(ch)?|Apr(il)?|May|Jun(e)?|"
    "Jul(y)?|Aug(ust)?|Sep(tember)?|Oct(ober)?|Nov(ember)?|"
    "Dec(ember)?)\s+\d{1,2}\s+\d{4}")

# print(pattern.match(text))  # prints None
# print(pattern.search(text))
# print(pattern.search(text).group())

In [152]:
year = '2016'
dates = []
for i in df[year]['author']:
    dates.append(pattern.search(i).group())
print(len(dates), df[year].shape)
df[year]['date'] = dates
print(df[year].isna().sum())
print(df[year]['date'].str.len().unique())

1933 (1933, 4)
title      0
content    0
author     0
date       0
dtype: int64
[11]

In [153]:
year = '2017'
dates = []
for i in df[year]['author']:
    dates.append(pattern.search(i).group())
print(len(dates), df[year].shape)
df[year]['date'] = dates
print(df[year].isna().sum())
print(df[year]['date'].str.len().unique())

2086 (2086, 4)
title      0
content    0
author     0
date       0
dtype: int64
[11]

In [154]:
year = '2018'
dates = []
for i in df[year]['author']:
    dates.append(pattern.search(i).group())
print(len(dates), df[year].shape)
df[year]['date'] = dates
print(df[year].isna().sum())
print(df[year]['date'].str.len().unique())

1631 (1631, 4)
title      0
content    0
author     0
date       0
dtype: int64
[11]

In [155]:
year = '2019'
dates = []
for i in df[year]['author']:
    dates.append(pattern.search(i).group())
print(len(dates), df[year].shape)
df[year]['date'] = dates
print(df[year].isna().sum())
print(df[year]['date'].str.len().unique())

482 (482, 4)
title      0
content    0
author     0
date       0
dtype: int64
[11]

In [156]:
df['2014'].isna().sum()

title      0
content    0
author     0
date       0
dtype: int64

In [157]:
df['2015'].isna().sum()

title      0
content    0
author     0
date       0
dtype: int64

In [159]:
df.keys()

dict_keys(['2014', '2015', '2016', '2017', '2018', '2019'])

In [178]:
all_df = pd.concat(df, ignore_index=True)

In [179]:
df['2014'].shape

(1987, 4)

In [186]:
rows = 0
for i in df.keys():
    rows += df[i].shape[0]
print(rows)
print(all_df.shape)

10008
(10008, 4)

In [187]:
all_df['title'] = all_df['title'].str.strip()
all_df['content'] = all_df['content'].str.strip()
all_df['author'] = all_df['author'].str.strip()
all_df['date'] = all_df['date'].str.strip()

In [190]:
all_df['date'] = pd.to_datetime(all_df['date'])

In [195]:
all_df.groupby('date')['content'].apply(list).apply(len)

date
2014-01-01    8
2014-01-02    8
2014-01-03    6
2014-01-04    1
2014-01-05    5
             ..
2019-06-28    3
2019-06-29    1
2019-06-30    4
2019-07-04    1
2019-07-05    1
Name: content, Length: 1962, dtype: int64

In [197]:
all_df[all_df['date'] == '2014-01-04']

                title  ...       date
22  The crowd pullers  ... 2014-01-04

[1 rows x 4 columns]

In [212]:
combined_df  = all_df.groupby('date')['content'].apply(' '.join).reset_index()

In [213]:
combined_df.head()

        date                                            content
0 2014-01-01  With the year 2013 making shift to 2014, sever...
1 2014-01-02  Business process outsourcing (BPO) is not new ...
2 2014-01-03  Air travellers swarmed around low-cost airline...
3 2014-01-04  The Subisu CAN Info-Tech 2014 has been able to...
4 2014-01-05  The Ministry of Agriculture Development has st...

In [205]:
all_df.to_csv('years_combined_df.csv', index=False)
pd.read_csv('years_combined_df.csv')

                                                   title  ...        date
0                 New gadgets lined up for New Year 2014  ...  2014-01-01
1               Chinese tourists take great leap forward  ...  2014-01-01
2      Pokhara tourism expects 2014  to herald new er...  ...  2014-01-01
3             CAs, auditors condemn Agrawal duo's arrest  ...  2014-01-01
4                              Don’t count your chickens  ...  2014-01-01
...                                                  ...  ...         ...
10003  Nepal Oil Corporation to construct fuel storag...  ...  2019-06-30
10004  Imports continue to surge via Rasuwagadhi-Keru...  ...  2019-06-30
10005  Poorly equipped chemical testing laboratories ...  ...  2019-06-30
10006  India expresses concern over chemical testing ...  ...  2019-07-04
10007  Land acquisition and forest clearance issues d...  ...  2019-07-05

[10008 rows x 4 columns]

In [206]:
combined_df.to_csv('content_combined_single_day.csv', index=False)

In [207]:
pd.read_csv('content_combined_single_day.csv')

            date                                            content
0     2014-01-01  With the year 2013 making shift to 2014, sever...
1     2014-01-02  Business process outsourcing (BPO) is not new ...
2     2014-01-03  Air travellers swarmed around low-cost airline...
3     2014-01-04  The Subisu CAN Info-Tech 2014 has been able to...
4     2014-01-05  The Ministry of Agriculture Development has st...
...          ...                                                ...
1957  2019-06-28  According to the department’s records, Nepal’s...
1958  2019-06-29  Tea producers say they cannot purchase tea at ...
1959  2019-06-30  Importers are being allowed to haul the goods ...
1960  2019-07-04  Lack of properly equipped labs leaves imported...
1961  2019-07-05  The Kusma-New Butwal power line project is par...

[1962 rows x 2 columns]

In [214]:
combined_df_title  = all_df.groupby('date')['title'].apply(' '.join).reset_index()

In [227]:
combined_df_title.to_csv('title_combined_single_day.csv', index=False)