<a href="https://colab.research.google.com/github/pratik-poudel/financial_news_stock/blob/master/cleanup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [90]:
df= pd.read_excel('/content/2014-2019.xlsx', sheet_name=None)

In [110]:
display(df['2014'], df['2015'], df['2016'])

                                                  title  ...          date
0              \nNew gadgets lined up for New Year 2014  ...   Jan 01 2014
1           \nChinese tourists take great leap forward   ...   Jan 01 2014
2     \nPokhara tourism expects 2014  to herald new ...  ...   Jan 01 2014
3          \nCAs, auditors condemn Agrawal duo's arrest  ...   Jan 01 2014
4                           \nDon’t count your chickens  ...   Jan 01 2014
...                                                 ...  ...           ...
1982               \nNepal, Oman to up flight frequency  ...   Dec 31 2014
1983            \nLet us select road contractors: Nepal  ...   Dec 31 2014
1984        \nBadi youths venture into madal production  ...   Dec 31 2014
1985  \nSupplies Minister tells NOC to address fuel ...  ...   Dec 31 2014
1986                  \nDDC hikes milk price by Rs 8-10  ...   Dec 31 2014

[1987 rows x 4 columns]

                                                  title  ... Unnamed: 4
0      After DDC, pvt dairies raise price by Rs 8 a ltr  ...        NaN
1            Caan board okays plan to hire Icao experts  ...        NaN
2             Investment booming in Pokhara hospitality  ...        NaN
3             MoI plans to declare FY2015-16 ‘FDI Year’  ...        NaN
4                   Ministry to amend working procedure  ...        NaN
...                                                 ...  ...        ...
1884       Govt set to give leg up to footwear products  ...        NaN
1885   Fraud case filed against four gas pumps in Kavre  ...        NaN
1886            NAC to buy four new jets over two years  ...        NaN
1887  Govt estimates 200MW can be added to grid this...  ...        NaN
1888                      Birat Petroleum tanker seized  ...        NaN

[1889 rows x 5 columns]

                                                  title  ... date
0     \n                                            ...  ...  NaN
1     \n                                            ...  ...  NaN
2     \n                                            ...  ...  NaN
3     \n                                            ...  ...  NaN
4     \n                                            ...  ...  NaN
...                                                 ...  ...  ...
1928  \n                                            ...  ...  NaN
1929  \n                                            ...  ...  NaN
1930  \n                                            ...  ...  NaN
1931  \n                                            ...  ...  NaN
1932  \n                                            ...  ...  NaN

[1933 rows x 4 columns]

In [101]:
import re
pattern = re.compile(
    "(Jan(uary)?|Feb(ruary)?|Mar(ch)?|Apr(il)?|May|Jun(e)?|"
    "Jul(y)?|Aug(ust)?|Sep(tember)?|Oct(ober)?|Nov(ember)?|"
    "Dec(ember)?)\s+\d{1,2}\s+\d{4}")

# print(pattern.match(text))  # prints None
# print(pattern.search(text))
# print(pattern.search(text).group())

In [121]:
year = '2016'
dates = []
for i in df[year]['author']:
    dates.append(pattern.search(i).group())
print(len(dates), df[year].shape)
df[year]['date'] = dates
print(df[year].isna().sum())
print(df[year]['date'].str.len().unique())

1933 (1933, 4)
title      0
content    0
author     0
date       0
dtype: int64
[11]

In [122]:
year = '2017'
dates = []
for i in df[year]['author']:
    dates.append(pattern.search(i).group())
print(len(dates), df[year].shape)
df[year]['date'] = dates
print(df[year].isna().sum())
print(df[year]['date'].str.len().unique())

2086 (2086, 4)
title      0
content    0
author     0
date       0
dtype: int64
[11]

In [123]:
year = '2018'
dates = []
for i in df[year]['author']:
    dates.append(pattern.search(i).group())
print(len(dates), df[year].shape)
df[year]['date'] = dates
print(df[year].isna().sum())
print(df[year]['date'].str.len().unique())

1631 (1631, 4)
title      0
content    0
author     0
date       0
dtype: int64
[11]

In [125]:
year = '2019'
dates = []
for i in df[year]['author']:
    dates.append(pattern.search(i).group())
print(len(dates), df[year].shape)
df[year]['date'] = dates
print(df[year].isna().sum())
print(df[year]['date'].str.len().unique())

482 (482, 4)
title      0
content    0
author     0
date       0
dtype: int64
[11]

In [133]:
df['2015']['rect_date'] = df['2015']['date'].str.strip()

In [144]:
df['2015'][df['2015']['rect_date'].str.len() > 11]

                                                  title  ...                             rect_date
64              Hulas Motors formally ceases production  ...        LILA BALLAV GHIMIREJan 12 2015
481   Upper Tamakoshi stoppage end likely as tempers...  ...               SANJEEV GIRIMar 23 2015
619   Illegal extraction of sand, gravel poses eco r...  ...  BECHU GAUD & AMRITA ANMOLApr 18 2015
900   Ageing Sunsari-Morang irrigation line in dire ...  ...             Binod BhandariJun 22 2015
1091       Paddy fields lie barren due to lack of water  ...        DILLI RAM KHATIWADAJul 29 2015
1232        Resurgence of monsoon raises farmers’ hopes  ...            RABINDRA UPRETIAug 22 2015

[6 rows x 6 columns]

In [142]:
df['2014']['rect_date'] = df['2014']['date'].str.strip()

In [146]:
df['2014']['rect_date'].str.len().unique()

array([11, 10, 23, 31, 24, 26, 22, 27])

In [147]:
df['2014'][df['2014']['rect_date'].str.len() < 11]

                                                title  ...   rect_date
23        \nGovt preparing food quarantine regulation  ...  Jan 04 201
24     \nStone factories gather moss after export ban  ...  Jan 04 201
25  \nTourist arrivals via air drop 4.9 percent in...  ...  Jan 04 201
26  \nBanijya Bank to sell cross-holdings to highe...  ...  Jan 04 201
27    \nBudget ceiling for districts up Rs 17 billion  ...  Jan 05 201
44  \nPharmas demand removal of non-tariff export ...  ...  Jan 07 201
45  \nETFC planning 10-15pc hike in electricity rates  ...  Jan 07 201
46                \nRed tape snags plane registration  ...  Jan 08 201
47     \nGovt pays Rs 231.7m in bird flu compensation  ...  Jan 08 201

[9 rows x 5 columns]

In [148]:
df['2014'][df['2014']['rect_date'].str.len() > 11]

                                                  title  ...                        rect_date
138                        \nExpanding out from Pokhara  ...          Shiva SharmaJan 23 2014
329   \nChallenges abound as Mahat takes charge of F...  ...  PRITHVI MAN SHRESTHAFeb 26 2014
336   \nEast-west electric railway: DPR of Simara-Ta...  ...         PRAGATI SHAHIFeb 28 2014
337   \nNepal-bound cargo starts moving from Kolkata...  ...       SHANKAR ACHARYAFeb 28 2014
881   \nAsian Dev Bank hands over wind-solar project...  ...           Post ReportJun 10 2014
909   \nTwo-wheeler registration drops 10pc to 132k ...  ...           Post ReportJun 17 2014
1625  \nApex court upholds Jha’s appointment as NTA ...  ...          SANJEEV GIRIOct 29 2014
1628  \nSub-committee formed to resolve differences ...  ...          SANJEEV GIRIOct 30 2014
1884  \nBhotekoshi hydropower project row: Ministry ...  ...      RISHI RAM POUDELDec 14 2014
1971  \nFlourishing orange farms hit by labour short...  ...         Binod GhimireDec 29 2014

[10 rows x 5 columns]